html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #DCDCDC;
    font-family: "roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #71797E;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: start;
}

.bil1,
.bil2,
.bil3,
.bil4 {
    grid-column: span 1;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    position: relative;
}

/* Styling för hover-effekten och slide-in för bilarna*/
.bil-info {
    position: relative;
    top: 0;
    right: -100%;
    width: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: right 0.4s ease;
}

.bil1:hover,
.bil2:hover,
.bil3:hover,
.bil4:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bil1:hover .bil-info,
.bil2:hover .bil-info,
.bil3:hover .bil-info,
.bil4:hover .bil-info {
    right: 0;
}

.bil-info h4 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.bil-info p {
    margin: 0;
    font-size: 14px;
}

.bil1 {
    grid-column: 2 / 3;
    grid-row: 1;
}

.bil2 {
    grid-column: 3 / 4;
    grid-row: 1;
}

.bil3 {
    grid-column: 2 / 3;
    grid-row: 2;
}

.bil4 {
    grid-column: 3 / 4;
    grid-row: 2;
}

/* Bilder */
.bil1 img,
.bil2 img,
.bil3 img,
.bil4 img {
    width: 375px;
    height: 375px;
    object-fit: cover;
}

/* Footer */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #71797E;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    margin-top: auto;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

footer a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    color: #B0B0B0;
}

footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

footer p {
    margin-bottom: 10px;
}

.footer-column-icons {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 10px;
    justify-content: end;
}

.footer-column-icons a:hover img {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

/* Meny knapp */
.dropdown {
    position: absolute;
    top: 10px;
    right: 20px;
}

#toggle-menu {
    display: none;
}

.dropbtn {
    background-color: #71797E;
    color: white;
    padding: 15px 15px 17px;
    font-size: 36px;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    right: 0;
    background-color: #71797E;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #A9A9A9;
    color: black;
}

#toggle-menu:checked+.dropbtn+.dropdown-content {
    display: block;
}